---
const { title, url } = Astro.props;
---
<li><a href={url}>{title}</a></li>

<style>
	a {
		color: #ff9776;
	}

	a:hover {
		background: #fff;
		color: #4c1d95;
		text-decoration: none;
	}
</style>
