---
const platform = "github";
const username = "pwong09";
---
<style>
    a {
        color: green;
        text-decoration: none;
    }
</style>
<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>
